:root{
  --primary-color :#D5CABD;
  --border-radius: 25px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: var(--primary-color); */
  background: radial-gradient(circle, #3a3839, #4b4a4c, #5d5d5f, #6f7173, #828587, #8f9394, #9da1a2, #abafaf, #b5baba, #c0c4c4, #cacfcf, #d5dada) no-repeat center center/cover;
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 1300px;
  max-width: 100%;
  min-width: 200px;
  margin: 0 auto;
}
h2{
  color: #4f4067;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* min-height: 55%; */
  width: 55%;
  margin: 30px auto;
  /* background-color: #f?fff; */
  /* opacity: 0.3; */
  border-radius: 7px;
  padding: 1rem;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  height: 3.5rem;
  padding: 7px;
}
input{
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: left;
  font-size: 0.8rem;
  margin: 0.1rem;
  padding: 10px 10px;
  color: #fff;
}
input::placeholder{
  font-size: 0.8rem;
  color: #fff;
}
label{
  position: absolute;
  color: #fff;
  font-size: 0.8rem;
  padding: 0 10px;
}
#submitBtn{
  text-align: center;
  margin: 0.3rem auto;
  color: var(--primary-color);
  background: #333;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  height: 3.5rem;
  transition: 0.5s all ease-in-out;
}
#submitBtn:hover{
background-color: #4f4067;
border: 1px solid #4f4067;
}
.error{
  font-size: 00.8rem;
  color: rgb(243, 38, 38);
  text-align: center;
}
.success{
color: greenyellow;
}

@media (max-width:480px ) {
  form{
    min-width: 100%;
  }
}